<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <table>
    {% for user in users %}
    <tr>
      <td><a href="{{ url_for('user_get', id=user.id) }}"> {{ user.name }}</a></td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
  </table>
  {% if credential_email %}
    <form action="{{ url_for('logout') }}" method="post">
     <label>
      {{ credential_email }}
     </label>
      <input type="submit" value="Logout">
    </form>
  {% endif %}
</body>
</html>