<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Отзыв о курсе python-разработчик на Hexlet">
  <title>Отзыв на курс Python от Hexlet</title>
  <link rel="stylesheet" href="../css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,400&display=swap"
    rel="stylesheet">
</head>

<body>
  <main class="content">
    <h1>Отзыв о курсе "Python-разработчик" на Hexlet</h1>
    <h2>От разработчика 1С</h2>
    <hr>
    <section>
      <h2>Чему можно научиться</h2>
      <ul>
        <li>Работа с командной строкой Linux/Mac</li>
        <li>Основные конструкции языка Python</li>
        <li>Работа с системой версионирования Git</li>
        <li>Умение построения архитектуры проекта</li>
        <li>Понимание работы http запроса и работы веб-сайтов</li>
        <li>Основы верстки сайтов <span class="italic">(именно на этом этапе создавалась страница)</span></li>
        <li>Многое другое...</li>
      </ul>
    </section>
    <section>
      <h2>Мнение о курсе</h2>
      <p>
        Данный курс включает в себя множество отдельных подкурсов на разнообразные темы.
        "Разносторонний". Именно так я бы охарактеризовал этот курс, если бы попросили
        это сделать одним словом. У у создателей курса как-будто не стояло задачи рассказать о какой-то конкретной
        теме досканально. Вместо этого курс раскрывает профессию python веб-разработчика со всех сторон.
        И это его главный плюс.
      </p>
      <p>
        Изучая предлагаемые темы гораздо лучше начинаешь понимать практическое применение
        получаемых знаний. Хотя самих практических заданий в разрезе каждой темы не скажу, что много.
        Что, в свою очередь, компенсируется наличием проектов в конце каждого раздела. Эти проекты совсем не для
        "галочки".
        Из-за чего человек, ранее не касавшийся программирования в какой-либо степени, может
        столкнуться с серьезными проблемами в обучении. И в этом случае, даже при наличии наставников курса,
        справиться с этими проблемами ему может оказаться не по силам. Поможет такому человеку либо умение учиться
        самостоятельно
        и наличие недюжей мотивации, либо знакомый программист, у которого будет достаточно времени помочь падавану.
      </p>
    </section>
    
    <section>
      <h2>Мое знакомство с курсом</h2>
      <p>
        Не имея IT-профессии и даже планов работы в данной сфере, жизнь сложилась таким удачным образом, что я оказался
        в
        разработке.
        Моим первым языком программирования стал 1С. Этот язык предоставляет широкие возможности для автоматизации
        бизнеса
        и, что самое главное, низкий порог входа.
      </p>
      <p>
        Есть замечательная цитата Льюиса Кэролла из "Алисы в стране чудес":
        <span class="bold">
          Нужно бежать со всех ног, чтобы только оставаться на месте, а чтобы куда-то попасть, надо бежать как минимум
          вдвое быстрее!
        </span>
        Считаю, что её нужно запомнить каждому человеку, собирающемуся связать свою жизнь с профессией разработчика.
      </p>
      <p>
        Довольно давно краем глаза посматривал в сторону языка python. Прошел даже несколько курсов на платформе Stepik
        от
        BeeGeek.
        Очень хорошие курсы в плане практических задач. Их реально много! Но, как ни странно, понимания практического применения мне не
        доставало.
        Затем в нашу команду разработки пришел начинающий менеджер-проектов, одной из задач у которого стояло получение
        общих навыков и знаний программирования, так как это ценится в профессии.
        Для него я и стал тем самым "знакомым программистом".
        Я стал параллельно изучать данный курс и объяснять каждую пройденную тему. Это в свою очередь помогало
        и мне лучше разобраться.
      </p>
      <p>
        Невероятно интересно было знакомиться с вещами, о которых даже не задумывается рядовой 1С-ник.
        Возможность создавать свои классы (ООП), функции высшего порядка, возможности тестирования - все это
        просто открывает двери в новый удивительный мир. Не говоря уже о возможностях самого языка python (генераторы -
        весчь!)
      </p>
    </section>

    <section>
      <h2>Итоги</h2>
      <p>
        Рекомендую к прохождению курс <a href="https://ru.hexlet.io/programs/python">Профессия Python-разработчик</a>
        Но есть важное условие.
        Если Вы ранее не изучали программирование, то перед приобретением этого курса рекомендую еще раз убедиться в
        твердости своих намерений. Иначе в очередной раз, страдая (а страдания это неотъемлемая часть работы программиста) 
        в попытках понять теорию или решить задачу, вы рискуете не завершить курс, и потерять уже потраченное время и немалые деньги.
      </p>
    </section>
  </main>
</body>

</html>